.place {
    display: grid;
    grid-template-columns:46.7% 1fr;
    grid-template-areas:
            "title website"
             "img text";
    column-gap:40px;
    row-gap:48px;
}

@media screen and (max-width:767px) {
    .place {
        column-gap:0;
        row-gap:32px;
        grid-template-columns:repeat(1, 1fr);
        grid-template-areas:
            "title"
            "website"
             "img"
            "text";
    }
}